@import './base.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  body {
    display: flex;
    place-items: center;
  }

}

@media (max-width: 600px) {
  #app {
    padding: .5rem;
  }
}

span {
  color: var(--color-text);
}

.icon {
  fill: var(--el-color-info);

  width: 25px;
  height: 25px;

  &:hover {
    fill: var(--el-text-color-regular);
  }

  &.icon--small {
    width: 20px;
    height: 20px;
  }

  &.delete {
    fill: var(--el-color-danger);
  }
}

input {
  background: transparent;
}
